@charset "UTF-8";
/****** CONFIGURAÇÃO ******/
/* line 8, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/produto-marketing/scss/main.scss */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.5; }

/* line 15, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/produto-marketing/scss/main.scss */
html {
  scroll-behavior: smooth; }

/* line 19, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/produto-marketing/scss/main.scss */
a {
  text-decoration: none; }

/* line 23, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/produto-marketing/scss/main.scss */
img {
  width: 100%;
  display: block; }

/* line 28, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/produto-marketing/scss/main.scss */
ul, li {
  list-style: none; }

/****** MIXINS ******/
/****** PÁGINA ******/
/* line 4, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/produto-marketing/scss/_header.scss */
.header .aside {
  width: 16.8rem;
  background-color: #C43C46;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  height: 100%; }

/* line 14, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/produto-marketing/scss/_header.scss */
.header .logo {
  width: 200px;
  margin: 0 auto; }

/* line 19, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/produto-marketing/scss/_header.scss */
.header .nav {
  margin-top: 2.5rem; }

/* line 23, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/produto-marketing/scss/_header.scss */
.header .nav__box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center; }

/* line 30, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/produto-marketing/scss/_header.scss */
.header .nav__link {
  font-family: "Russo One", sans-serif;
  font-size: 1.3rem;
  color: #000;
  background-color: #B0CF45;
  padding: .4rem .8rem;
  border-radius: 6px;
  border: solid 1px #000; }
  /* line 33, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/produto-marketing/scss/_header.scss */
  .header .nav__link:hover {
    background-color: #fff;
    transition: all .6s; }

/* line 1, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/produto-marketing/scss/_inicio.scss */
.main {
  position: fixed;
  left: 16.8rem;
  /****** SWIPER SLIDER ******/ }
  /* line 5, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/produto-marketing/scss/_inicio.scss */
  .main .inicio {
    position: fixed;
    left: 16.8rem;
    top: 0;
    right: 0;
    height: 100vh;
    opacity: 1;
    z-index: 0;
    overflow-y: auto; }
  /* line 17, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/produto-marketing/scss/_inicio.scss */
  .main .prod__titulo__principal {
    font-size: 3rem;
    font-family: "Russo One", sans-serif;
    color: #B0CF45;
    background-color: #000;
    text-align: center;
    padding: 1rem; }
  /* line 26, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/produto-marketing/scss/_inicio.scss */
  .main .prod__box {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    height: 100vh; }
  /* line 35, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/produto-marketing/scss/_inicio.scss */
  .main .produto-1 {
    background-image: url("../img/background-1.jpg");
    background-size: cover;
    background-attachment: fixed; }
  /* line 41, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/produto-marketing/scss/_inicio.scss */
  .main .produto-2 {
    background-image: url("../img/background-2.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center; }
  /* line 48, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/produto-marketing/scss/_inicio.scss */
  .main .produto-3 {
    background-image: url("../img/background-3.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center; }
  /* line 55, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/produto-marketing/scss/_inicio.scss */
  .main .produto-4 {
    background-image: url("../img/background-4.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center; }
  /* line 62, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/produto-marketing/scss/_inicio.scss */
  .main .prod__nome {
    color: #000;
    font-family: "Russo One", sans-serif;
    font-size: 1.5rem; }
  /* line 68, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/produto-marketing/scss/_inicio.scss */
  .main .prod__desc {
    color: #000;
    font-family: "Gruppo", cursive;
    font-size: 1.3rem;
    margin-bottom: 3rem;
    width: 300px; }
  /* line 77, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/produto-marketing/scss/_inicio.scss */
  .main .prod__link {
    font-family: "Russo One", sans-serif;
    font-size: 1.3rem;
    color: #000;
    background-color: #B0CF45;
    padding: .4rem .8rem;
    border-radius: 6px;
    border: solid 1px #000;
    box-shadow: 0px 2px 10px #fff; }
    /* line 81, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/produto-marketing/scss/_inicio.scss */
    .main .prod__link:hover {
      background-color: #fff;
      transition: all .6s; }
  /* line 87, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/produto-marketing/scss/_inicio.scss */
  .main .img__prod {
    width: 600px; }
  /* line 91, ../../../Desktop/Programação/REPOSITORIO-GIT-GITHUB/produto-marketing/scss/_inicio.scss */
  .main .item-2, .main .item-3 {
    width: 400px; }

/*# sourceMappingURL=main.css.map */