.header {
    // background-color: #000000;

    .aside {
        width: 16.8rem;
        background-color: #C43C46;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 10;
        height: 100%;
    }

    .logo {
        width: 200px;
        margin: 0 auto;
    }

    .nav {
        margin-top: 2.5rem;
    }

    .nav__box {
        display: flex;
        flex-direction: column;
        gap: .8rem;
        align-items: center;
    }

    .nav__link {
        @include btn-config;
    }

}