.main {
    position: fixed;
    left: 16.8rem;

        .inicio {
            position: fixed;
            left: 16.8rem;
            top: 0;
            right: 0;
            height: 100vh;
            // background-color: black;
            opacity: 1;
            z-index: 0;
            overflow-y: auto;
        }

        .prod__titulo__principal {
            font-size: 3rem;
            font-family: $fonte-titulo;
            color: $cor-titulo;
            background-color: #000;
            text-align: center;
            padding: 1rem;
        }

        .prod__box {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .produto-1 {
            background-image: url("../img/background-1.jpg");
            background-size: cover;
            background-attachment: fixed;
        }

        .produto-2 {
            background-image: url("../img/background-2.jpg");
            background-size: cover;
            background-attachment: fixed;
            background-position: center;
        }

        .produto-3 {
            background-image: url("../img/background-3.jpg");
            background-size: cover;
            background-attachment: fixed;
            background-position: center;
        }

        .produto-4 {
            background-image: url("../img/background-4.jpg");
            background-size: cover;
            background-attachment: fixed;
            background-position: center;
        }

        .prod__nome {
            color: #000;
            font-family: $fonte-titulo;
            font-size: 1.5rem;
        }

        .prod__desc {
            color: #000;
            font-family: $fonte-corpo;
            font-size: 1.3rem;
            margin-bottom: 3rem;
            width: 300px;
            // background-color: teal
        }

        .prod__link {
            @include btn-config;
            box-shadow: 0px 2px 10px #fff;

                &:hover {
                    background-color: #fff;
                    transition: all .6s;
                }
        }

        .img__prod {
            width: 600px;
        }

        .item-2, .item-3 {
            width: 400px;
        }

        /****** SWIPER SLIDER ******/

}

