.main {

        .inicio {
            position: fixed;
            left: 16.8rem;
            top: 0;
            right: 0;
            height: 100vh;
            background-color: black;
            opacity: 1;
            z-index: 0;
        }

        .produto__titulo__principal {
            font-size: 3rem;
            color: #fff;
        }


}

